// ===================================
// Variables
// ===================================

// Colors
$color-white: #fff;

$color-primary: #58e1c1; //green
$color-secondary: #51ddfc; //blue
$color-text: #777; //grey

$btn-color-error: #e4757a; //red
$btn-color-info: #927bc1; //purple
$btn-color-success: #63cc82; //green
$btn-color-warning: #fd7856; //orange

// Fonts
$font-stack-primary: 'Lato', sans-serif;

// Breakpoints
$lg: 768px;

